
<% if !post_partial.empty? %>
			<% post_partial.each do |post| %>
				<hr />
				<div>
					<div>
						<img class="pull-right" src="/assets/default_pic.jpg" />
					</div>

					<div>
						<p class="lead"> <%= raw "<em>#{post.posted_by.titleize}</em>" %> says... </p>
						
						<blockquote>
							<%= post.content %>
						</blockquote>

						<label data-url="<%= post_comments_url(post) %>" class="label label-success view-comments">This post has <%= pluralize post.comments.count, "comment" %></label>
						
						<%= form_for([post,@comment], html: {style:"margin-top:10px"}) do |t| %>
						<p> <%= t.text_field :comment_by, {class:"span2 input-small",placeholder:"#comment",required:"required"} %> </p>
						<% end %>
					</div>

					<div class="clearfix"></div>
				</div>
				<hr />
			<% end %>
		<% end %> 