
<%= render partial: "message_partial" %>

<div class="row">
	<div class="span12 well">
		<%= form_for(@post, html: {class:"form-inline"}) do |f| %>
			<%= f.text_field :posted_by, {placeholder:"#zombiename",class:"span2 input-small",required:"required",autocomplete:"off"} %>
			<%= f.text_field :content, {placeholder:"#zombieshout",class:"span4 input-small",required:"required",autocomplete:"off"} %> 
			<%= f.submit "Grrrr!", {class:"btn btn-inverse input-small"} %>
		<% end %>
	</div>
</div>

<div class="row">
	<% if @posts_odd.empty? && @posts_even.empty? %>
		<div class="span12">
			<div class="alert alert-error">
				<span style="font-weight:bold">Grrrr! No zombies wandering off at this time.
			</div>
		</div>
	<% end %>
	<div class="span6">

		<%= render partial: "post_partial", object: @posts_odd %>
	
	</div>

	<div class="span6">

		<%= render partial: "post_partial", object: @posts_even %>

	</div>
</div>